
body{
    margin: 0;
    padding: 0;
    background-color: white;
  }


h1{
    text-align: center;
    padding: 20px;
    }
    
    div#row{
    position: relative;
    right: auto;
    background-color: rgb(152, 152, 152); 

    }
    
    div#Chicken {
    
      background-color: rgb(213, 152, 152);
      border-left: 2px solid black;
      border-bottom: 2px solid black;
      padding-top: 2px;
      padding-right: 2px;
      width: 250px;
      position: relative;
      height: 25px; 
      text-align: center;
      float:right;
    }
    
    div#Beef {
    
    background-color: rgb(193, 69, 67);
    color: white;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 2px;
    padding-right: 2px;
    width: 250px;
    position: relative;
    height: 25px; 
    text-align: center;
    float:right;
    }
    
    div#Sushi {
    
    background-color: rgb(229, 209, 152);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 2px;
    padding-right: 2px;
    width: 250px;
    position: relative;
    height: 25px; 
    text-align: center;
    float:right;
    }

    div#boxtext{
        margin: 5px;
    }
    p{
      position: relative;
      right: 1px;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    
    #box1 {
        background-color: rgb(152, 152, 152); 
        margin: 5px;
        border: 2px solid black;;
        overflow: auto; 
    } 
    
    #box2 {
        background-color: rgb(152, 152, 152); 
        margin: 5px;
        border: 2px solid black;;
        overflow: auto; 
    } 
    
    #box3 {
    background-color: rgb(152, 152, 152); 
    margin: 5px;
    border: 2px solid black;;
    overflow: auto; 
    } 
    
    #content{
      background-color: #d8d8d8;
      margin: 10px;
    }
    .row {
      width: auto;
    }